{% extends "layout.html" %}
{% block content %}
<ul class="list-unstyled js-rules">
    {% for rule in accessControlRules: %}
    <li data-sort-string="{{ "0" if rule.active == False else "1" }}-{{rule.ruleName}}">
        <div class="jumbotron container-fluid {{ "active" if rule.active == False else "inactive" }}">
            <h1>{{rule.ruleName}}</h1>
            <hr />
            <p>{{rule.ruleDescription}}</p>
            <label class="switch">
                <input type="checkbox" data-rule-id="{{rule.ruleId}}" data-rule-name="{{rule.ruleName}}" {{ "checked=""checked" if rule.active == False }}>
                <span class="slider round"></span>
            </label>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
